* {margin: 0; padding: 0; }
html {overflow-y: scroll; overflow-x: hidden;} 
ul { list-style: none inside; }
li { list-style: none inside; }
a:focus { outline: none; }
.clear { clear: both; }   
a { text-decoration: none; color: black;}
input, textarea { outline: none; }
fieldset { border: none; }

@font-face {
	font-family: "Open Sans Bold";
	src: url(../static/fonts/OpenSans-Bold.ttf);
}

body {
	margin-left: 40px;
	background: #fbfbfb;
	text-rendering: optimizeLegibility;
}

#site {
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

#profile .name {
	font-family: "Open Sans Bold";
	font-size: 30px;
}

#profile .name a {
	background: #bedaef;
	padding: 0 1px;
}

#profile .subtitle {
	font-size: 15px;
	margin-top: 8px;
}

#profile .subtitle a {
	text-decoration: underline;
}

#profile .socialmedia {
	margin-top: 12px;
	font-size: 17px;
	margin-left: 10px;
}

#profile .socialmedia li {
	margin-bottom: 4px;
}

#profile .socialmedia li a:hover {
	background: #d7edfd;
	box-shadow: 2px 2px 0px #464646;
}

#profile .socialmedia li i {
	margin-right: 10px;
}

#projects {
	margin-top: 10px;
}

#projects .borderLeft {
	font-family: "Open Sans Bold";
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
}

#projects .item {
	list-style-type: circle;
	margin-left: 12px;
	font-size: 16px;
	margin-bottom: 6px;
}

#projects a {
	text-decoration: underline;
}

#projects a:hover,
#profile .subtitle a:hover {
	background: #d7edfd;
}


