* {margin: 0; padding: 0; }
html {overflow-y: scroll; overflow-x: hidden;} 
ul { list-style: none inside; }
li { list-style: none inside; }
a:focus { outline: none; }
.clear { clear: both; }   
a { text-decoration: none; color: black;}
input, textarea { outline: none; }
fieldset { border: none; }

@font-face {
	font-family: "Open Sans Bold";
	src: url(../static/fonts/OpenSans-Bold.ttf);
}

body {
	margin-left: 40px;
	background: #fbfbfb;
	text-rendering: optimizeLegibility;
}

#site {
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
}

#profile .name {
	font-family: "Open Sans Bold";
	font-size: 30px;
}

#profile .name a {
	background: #bedaef;
	padding: 0 3px;
	border-radius: 3px;
}

#profile .subtitle {
	font-size: 15px;
	margin-top: 8px;
}

#profile .subtitle a {
	text-decoration: underline;
}

h3 {
	font-family: "Open Sans Bold";
	margin-bottom: 9px;
}

#profile .articles {
	overflow: auto;
	width: 600px;
	margin-bottom: 15px;
}

#profile .articles a {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

#profile .articles a:hover {
	text-decoration: underline;
}

#profile .socialmedia {
	margin-top: 17px;
	font-size: 28px;
	overflow: auto;
	padding-bottom: 21px;
}

#profile .socialmedia li {
	margin-right: 8px;
	margin-bottom: 7px;
	float: left;
}

#profile .socialmedia li a:hover {
	background: #d7edfd;
	box-shadow: 1px 1px 0px #464646;
}

#profile .socialmedia li i {
	margin: 5px;
}

#projects .borderLeft {
	font-family: "Open Sans Bold";
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 13px;
}

.borderLeft .slashes {
	padding-right: 6px;
}

.borderLeft .sl_proj { color: #3eca3e; }
.borderLeft .sl_artic { color: #f19f61; }
.borderLeft .sl_older { color: #ec5e5e; }
.borderLeft .sl_papers { color: #84a1e6; }

#projects .item {
	list-style-type: circle;
	margin-left: 12px;
	font-size: 16px;
	margin-bottom: 6px;
}

#projects .item .date {
	font-size: 14px;
	font-style: italic;
	margin-left: 2px;
}

#projects a {
	text-decoration: underline;
}

#projects a:hover,
#profile .subtitle a:hover {
	background: #d7edfd;
}


